{% extends 'base.html' %}

{% block head %}
<title>Movie DB</title>
{% endblock %}

{% block body %}
<h1>Welcome to your Lists</h1>
<div class="Menu-Wrapper">
    <div class="logo">
        <img class="logoM" src="static/m.png" alt="Logo M" width="40px" height="40px">
        <span id="Middle-Menu">Movie Thingy</span>
        <span id="LEft-Menu">Some Extra stuff here</span>
    </div>

    <h3>Movie Thingy</h3>
    <i>Final Line Here</i>
</div>

<div>
    <img src="static/movielogo.gif" alt="Welcome to INSERT-NAME-HERE">
    <h1>Movie Thingy (For Now)<h1>
    <h5>Find all your fabvourite movies right here!<h5></h5>
</div>
{% endblock %}

